<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.10" targetFramework="net4" />
  <package id="ApprovalUtilities" version="3.0.10" targetFramework="net4" />
  <package id="Shouldly" version="2.6.0" targetFramework="net4" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net4" developmentDependency="true" />
  <package id="xunit" version="1.9.2" targetFramework="net4" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net4" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net4" />
</packages>